################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/STR_Tipo_de_Cambio/FileContentIndex/*
/.vs/STR_Tipo_de_Cambio/v17/*