################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/STR_Tipo_de_Cambio/FileContentIndex/7eb33572-a495-4d83-a1d3-42d758380b32.vsidx
/.vs/STR_Tipo_de_Cambio/FileContentIndex/5c7699d0-0543-4947-866e-5aebdd671b0f.vsidx
/.vs/STR_Tipo_de_Cambio/FileContentIndex/acec4cb4-039e-4be6-b3a6-193dae63da85.vsidx
/.vs/STR_Tipo_de_Cambio/FileContentIndex/915e8199-348c-460a-a5c3-4801221d7fe6.vsidx
/.vs/STR_Tipo_de_Cambio/FileContentIndex/ab40a958-7216-4cf4-a2f6-dad6003b7579.vsidx
