<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="dia_later" value="0"/>
		<add key="tpocambio_endpoint" value="http://impperu.ramo.com.br:7071/api/"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
